html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: rgb(3, 155, 155);
    display: inline;
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
}
.logcontainer {
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iscriviti {
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 24px;
    color: white;

}
form {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
}
.input {
    width: 250px;
    height: 40px;
    margin:  10px auto;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    border: 2px solid rgb(3, 155, 155);
    color: white;
}

.submit {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background-color: rgb(3, 155, 155);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
}
#linkedin {
    color: #007bb6;
}
#twit {
    color:#00aced;
}
#face {
    color: #3b5998;
}
i {
    font-size: 26px;
    margin: 0px 3px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 51, 51)
}
.login {
    color: rgb(219, 219, 219);
    font-weight: 700;
    text-decoration: none;
    margin-right: 50px;
    border: 2px solid rgb(219, 219, 219);
    padding: 6px;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
ul li {
    padding: 10px;
    color: rgb(219, 219, 219);
    font-weight: 700;
}
.icon {
    border: none;
}
ul a {
    text-decoration: none;
    border-right: 2px solid rgb(124, 124, 124);
    margin: 2px 0px;
}
.title {
    display: flex;
    align-items: center;
}
.p {
    font-size: 14px;
    color: rgb(194, 194, 194);
}
.delta {
    margin-right: 10px;
    color: rgb(48, 48, 48)
}
.text {
    align-self: center;
    margin-top: 20px;
    color: rgb(146, 146, 146);

    line-height: 2;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    margin: auto;
}